[color]
	ui = auto					# Automatic colour detection/output

[core]
	autocrlf = input			# Configure file ending type
	editor = vim				# Use vim as standard editor

[push]
	default = current			# Set default push behaviour

[include]
	path = ~/.gitconfig_local	# Include profile settings
